{:paths     ["resources" "src/clj"]
 :mvn/repos {"jitpack.io" {:url "https://jitpack.io/"}}
 :deps      {org.clojure/clojure          {:mvn/version "1.12.0"}
             org.clojure/core.async       {:mvn/version "1.6.673"}
             org.clojure/tools.cli        {:mvn/version "1.1.230"}
             metosin/malli                {:mvn/version "0.20.0-alpha3"}

             cprop/cprop                  {:mvn/version "0.1.20"}
             superstring/superstring      {:mvn/version "3.2.0"}

             cheshire/cheshire            {:mvn/version "5.13.0"}
             org.clj-commons/byte-streams {:mvn/version "0.3.4"}
             aleph/aleph                  {:mvn/version "0.9.3"}
             me.tongfei/progressbar       {:mvn/version "0.10.1"}

             ;; https://mvnrepository.com/artifact/commons-io/commons-io
             commons-io/commons-io        {:mvn/version "2.20.0"}
             }
 :aliases
 {:run-m {:main-opts ["-m" "anmo.main"]}
  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
          :ns-default build}
  :test  {:extra-paths ["test"]
          :extra-deps  {lambdaisland/kaocha   {:mvn/version "1.91.1392"}
                        org.wiremock/wiremock {:mvn/version "3.10.0"}}
          :main-opts   ["-m" "kaocha.runner"]}
  :dev   {:extra-paths ["src/dev"]
          :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                        org.wiremock/wiremock       {:mvn/version "3.10.0"}
                        lambdaisland/kaocha         {:mvn/version "1.91.1392"}}}}}
